# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: ci-verify

# Trigger the workflow when:
on:
  # A push occurs to one of the matched branches.
  push:
    branches:
      - production
  # Or when a pull request event occurs for a pull request against one of the
  # matched branches.
  pull_request:
    branches:
      - production

jobs:
  verify:
    # NOTE: This name appears in GitHub's Checks API.
    name: verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Check out pull request's HEAD commit instead of the merge commit to
          # work-around an issue where wrong a commit is being checked out.
          # For more details, see:
          # https://github.com/actions/checkout/issues/299.
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Install latest metadata-registry-tools
        run: |
          go install github.com/oasisprotocol/metadata-registry-tools/oasis-registry@latest
      - name: Verify registry integrity
        run: |
          oasis-registry verify
